 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/IMG_4225.JPG');
  background-position: 50% 50%, 50% 71.08%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 215px;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 43px auto 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 64px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 559px;
}

.u-section-2 .u-tabs-1 {
  min-height: 439px;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-6 {
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-7 {
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-2 .u-image-1 {
  width: 258px;
  height: 336px;
  object-position: 35.58% 50%;
  margin: 9px auto 0 0;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-2 {
  margin: 5px 13px 0 293px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-2 .u-image-2 {
  width: 258px;
  height: 336px;
  object-position: 38.21% 50%;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-4 {
  margin: 7px 19px 0 293px;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-2 .u-image-3 {
  width: 258px;
  height: 336px;
  margin: 3px auto 0 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-6 {
  margin: 0 12px 0 293px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 27px 30px;
}

.u-section-2 .u-image-4 {
  width: 258px;
  height: 336px;
  margin: 3px 822px 0 0;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-8 {
  margin: 7px 35px 0 283px;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 21px 30px;
}

.u-section-2 .u-image-5 {
  width: 258px;
  height: 336px;
  object-position: 35.7% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-10 {
  margin: 0 44px 0 293px;
}

.u-section-2 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 21px 30px;
}

.u-section-2 .u-image-6 {
  width: 258px;
  height: 336px;
  object-position: 35.7% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-12 {
  margin: 7px 15px 0 293px;
}

.u-section-2 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-tab-pane-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 21px 30px;
}

.u-section-2 .u-image-7 {
  width: 258px;
  height: 336px;
  object-position: 35.7% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -336px 0 0 293px;
}

.u-section-2 .u-text-14 {
  margin: 7px 17px 0 293px;
}

.u-section-2 .u-btn-15 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    min-height: 467px;
  }

  .u-section-2 .u-image-1 {
    height: 365px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-image-3 {
    height: 365px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-image-4 {
    height: 365px;
    margin-right: 622px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-image-5 {
    height: 365px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-image-6 {
    height: 365px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-2 .u-image-7 {
    height: 365px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: -365px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-2 .u-image-4 {
    margin-right: 402px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 19px;
    margin-left: 306px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 306px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 19px;
    margin-left: 306px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-tabs-1 {
    min-height: 439px;
  }

  .u-section-2 .u-tab-link-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-1 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-2 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-3 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-4 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-5 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-10 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-6 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-image-7 {
    height: 579px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
    font-size: 1.6666666666666665rem;
  }

  .u-section-2 .u-text-14 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 372px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }
}